<form class="{{cssClass}}" autocomplete="off">
  <!-- Polaroid Picture -->
  <header class="sheet-header flexrow">
    <div class="polaroid">
      <img
        src="{{actor.img}}"
        title="{{actor.name}}"
        data-edit="img"
        height="100"
        width="100"
      />
      <div class="name">
        <input
          name="name"
          type="text"
          class="field"
          value="{{actor.name}}"
          placeholder="Character Name"
        />
      </div>
      <div class="clipper">
        <img src="/systems/motw/images/clipper.png" />
      </div>
    </div>
    <div class="flexcol">
      <!-- Attributes -->
      <div class="flexrow attributes">
        {{#each data.attributes as |attribute id|}}
        <div class="attribute" data-attribute-id="{{id}}">
          <label>
          <a>{{lookup ../config.attributes id}}</a>
          </label>
          <input
            name="data.attributes.{{id}}.value"
            type="number"
            data-dtype="Number"
            class="field"
            value="{{attribute.value}}"
          />
        </div>
        {{/each}}
      </div>
      <!-- Counters -->
      <div class="flexrow counters">
        <div class="counter_col">
          <div class="counter_label">
            <span class="">
              {{localize "MOTW.Luck"}}
            </span>
          </div>
          <div class="counter-row" data-field-id="luck">
            <div
              class="counter counter-data luck active"
              style="width:{{multiply 18 data.luck.value}}px;"
            ></div>
            <div
              class="counter counter-data luck"
              style="width:{{multiply 18 (subtract data.luck.max data.luck.value)}}px"
            ></div>
          </div>
        </div>
        <div class="counter_col">
          <div class="counter_label">
            <label>
              {{localize "MOTW.Damage"}}
            </label>
          </div>
          <div class="counter-row" data-field-id="health">
            <div
              class="counter counter-data health active"
              style="width:{{multiply 18 data.health.value}}px;"
            ></div>
            <div
              class="counter counter-data health"
              style="width:{{multiply 18 (subtract data.health.max data.health.value)}}px;"
            ></div>
          </div>
          <div class="health_zones"></div>
        </div>
        <div class="counter_col" data-field-id="health.unstable">
          <div class="counter_label">
            <label>
              {{localize "MOTW.Unstable"}}
            </label>
          </div>
          {{#if data.health.unstable}}
          <div
            class="unstable checkbox-data"
            style="background-image: url('/systems/motw/images/health.png');"
          ></div>
          {{else}}
          <div
            class="unstable checkbox-data"
            style="
              background-image: url('/systems/motw/images/health_inactive.png');
            "
          ></div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="xp_col" data-field-id="xp">
      <label class="">
        XP
      </label>
      <div
        class="xp_box active counter-data"
        style="height:{{multiply 16 data.xp.value}}px;"
      ></div>
      <div
        class="xp_box counter-data"
        style="height:{{multiply 16 (subtract data.xp.max data.xp.value)}}px;"
      ></div>
    </div>
  </header>
  <!-- Body -->
  <section class="sheet-body flexrow">
    <div>
      <nav class="sheet-tabs tabs-left" data-group="left">
        <a class="motw_tab item" data-tab="equipment" primary="true">
          {{localize "MOTW.Items"}}
        </a>
        <a class="motw_tab item" data-tab="improvements">
          {{localize "MOTW.Improvements"}}
        </a>
      </nav>
      <div class="tab-left">
        <div
          class="motw_panel tab"
          id="motw_improvements"
          data-group="left"
          data-tab="improvements"
        >
          <div class="motw_panel_content">
            {{editor content=data.improvements target="data.improvements" button=true owner=owner
            editable=editable }}
          </div>
        </div>
        <div class="motw_panel tab" data-group="left" data-tab="equipment">
          <div class="items-list motw_panel_content">
            {{#each inventory as |item id|}}
            <div class="item-entry">
              <li class="item flexrow" data-item-id="{{item._id}}">
                <h4 class="item-name">
                  {{item.name}}{{#unless (eq data.quantity 1)}}
                  ({{data.quantity}}){{/unless}} <i class="fas fa-angle-down"></i>
                </h4>
                <div class="item-controls">
                  <a class="item-control item-edit" title="Edit Item">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete" title="Delete Item">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              </li>
              <div class="description collapsible collapsed">
                {{{data.description}}}
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div>
      <nav class="sheet-tabs tabs-right" data-group="right">
        <a class="motw_tab item" data-tab="moves" primary="true">
          {{localize "MOTW.Moves"}}
        </a>
        <a class="motw_tab item" data-tab="story">
          {{localize "MOTW.Story"}}
        </a>
        <a class="motw_tab item" data-tab="notes">
          {{localize "MOTW.Notes"}}
        </a>
      </nav>
      <div class="tab-right">
        <div
          class="motw_panel tab"
          id="motw_moves"
          data-group="right"
          data-tab="moves"
        >
          <div class="motw_panel_content">
            <ol class="items-list">
              {{#each moves as |move id|}}
              <div class="item-entry">
                <li class="item flexrow" data-item-id="{{move._id}}">
                  <h4 class="item-name">
                    {{move.name}} <i class="fas fa-angle-down"></i>
                  </h4>
                  <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Move">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-control item-delete" title="Delete Move">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                </li>
                <div class="description collapsible collapsed">
                  {{{data.description}}}
                </div>
              </div>
              {{/each}}
            </ol>
          </div>
        </div>
        <div
          class="motw_panel tab"
          id="motw_story"
          data-group="right"
          data-tab="story"
        >
          <div class="motw_panel_content">
            {{editor content=data.biography target="data.biography"
            button=true owner=owner editable=editable }}
          </div>
        </div>
        <div
          class="motw_panel tab"
          id="motw_notes"
          data-group="right"
          data-tab="notes"
        >
          <div class="motw_panel_content">
            {{editor content=data.notes target="data.notes" button=true
            owner=owner editable=editable }}
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
