<div class="flex flexcolumn motw_itemsheet">
    <div class="flexrow">
        <div class="flex flexcolumn motw_item-name">
            <input
              name="name"
              type="text"
              class="field"
              value="{{item.name}}"
              placeholder="Item Name"
            />
        </div>
    </div>
    <div class="flexrow">
        <div class="flexcolumn motw_tags">{{data.tags}}</div>
    </div>
    <div class="flex flexrow motw_itemsheet_description">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable }}
    </div>
</div>
