<form class="{{cssClass}}" autocomplete="off">
<div class="flex flexcolumn motw_movesheet">
    <div class="flexrow">
        <div class="flex flexcolumn motw_item-name">
            <input
                name="name"
                type="text"
                class="field"
                value="{{item.name}}"
                placeholder="Item Name"
            />
        </div>
    </div>
    <div class="flex flexrow motw_description">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable }}
    </div>
</div>
</form>
