/* ----------------------------------------- */
/*  Character                                */
/* ----------------------------------------- */
.motw.motw.char-sheet {
  min-width: 590px;
  min-height: 570px;
}

.motw.char-sheet .window-content {
  font-family: WarnockRegular;
  background-size: 600px 570px;
  width: 100%;
  list-style: none;
  height: 100%;
  background-image: url("/systems/motw/images/background.jpg");
  padding: 0;
}

.motw.char-sheet select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow: "";
  background: none;
  border: none;
  width: auto;
  text-align-last: center;
  text-align: center !important;
  padding: 3px;
}

.motw.char-sheet .field {
  font-family: ThirdMan;
  margin: 2px;
  padding: 0;
  width: 100%;
  color: black;
}

.motw.char-sheet .window-content .field:not([type="checkbox"]) {
  border: none;
  background: none;
}

.motw.char-sheet
  .window-content
  .field[type="number"]::-webkit-inner-spin-button,
.motw_field[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.motw.char-sheet .window-content .field[type="number"] {
  text-align: center;
}

.motw.char-sheet .sheet-header {
  height: 220px;
}

.motw.char-sheet .window-content .polaroid {
  background: url("/systems/motw/images/polaroid.jpg");
  background-size: 180px 220px;
  position: relative;
  padding: 10px 10px 50px 10px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 180px;
  height: 220px;
  transform: rotate(-8deg);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.window-content .polaroid img {
  border: none;
  margin-top: 1px;
  margin-left: 1px;
  bottom: -2px;
  height: calc(100% + 4px);
  width: 100%;
}

.motw.char-sheet .window-content .name {
  position: absolute;
  bottom: 8px;
  width: 156px;
}

.motw.char-sheet .window-content .name input {
  font-family: WarnockRegular;
  width: 156px;
  font-size: 16px;
  text-align: center !important;
}

.motw.char-sheet .window-content .clipper {
  position: absolute;
  top: -12px;
  left: -5px;
}

.motw.char-sheet .window-content .clipper img {
  border: none;
  width: 60px;
}

.motw.char-sheet .window-content .attributes {
  background-image: url("/systems/motw/images/stats.png");
  background-size: 350px 130px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 5px;
  padding: 30px 40px 30px 55px;
  height: 130px;
  align-content: center;
  justify-content: center;
}

.motw.char-sheet .window-content .attributes .attribute {
  flex: 0 0 45px;
  text-align: center;
}

.motw.char-sheet .window-content .attributes .attribute .field {
  font-size: 20px;
  flex-grow: 0;
}

.motw.char-sheet .window-content .attributes .attribute label {
  text-align: center;
  font-family: ThirdMan;
  font-size: 20px;
}

.motw.char-sheet .window-content .xp_col {
  text-align: center;
  flex: 0 0 16px;
  font-family: ThirdMan;
  font-size: 16px;
  margin: auto 3px;
  cursor: pointer;
}

.motw.char-sheet .window-content .xp_col * {
  flex-shrink: 1;
  width: 16px;
}

.motw.char-sheet .window-content .xp_col .xp_box {
  background-image: url("/systems/motw/images/xp_inactive.png");
}

.motw.char-sheet .window-content .xp_col .xp_box.active {
  background-image: url("/systems/motw/images/xp.png");
}

.counter_col {
  margin-left: 5px;
  margin-right: 5px;
  flex-grow: 0;
}

.counters {
  margin: 0 25px;
  justify-content: space-between;
}

.counter-row {
  display: flex;
}

.counter {
  cursor: pointer;
  background-size: 18px;
  background-position: top;
  height: 18px;
  margin-bottom: auto;
}

.counter.health {
  background-position: 0;
  background-image: url("/systems/motw/images/health_inactive.png");
}

.counter.health.active {
  background-position: 0;
  background-image: url("/systems/motw/images/health.png");
}

.counter.luck {
  background-position: 0;
  background-image: url("/systems/motw/images/health_inactive.png");
}

.counter.luck.active {
  background-position: 0;
  background-image: url("/systems/motw/images/luck.png");
}

.health_zones {
  height: 2px;
  background-image: url("/systems/motw/images/bar.png");
  margin-left: 55px;
  width: 70px;
}

.counter_label {
  font-family: ThirdMan;
  font-size: 18px;
  text-align: center;
}

.counter_label .fa {
  font-size: 14px;
}

.unstable {
  margin: auto;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-size: 18px;
}

.sheet-body {
  margin: 30px 5px 0 5px;
  height: calc(100% - 290px);
  display: flex;
}

.sheet-body .tab-right,
.tab-left {
  height: 100%;
}

.motw_panel {
  background-image: url("/ui/parchment-white.jpg");
  border: 1px solid grey;
  border-radius: 5px;
  height: 100%;
  position: relative;
}

.motw_panel_content {
  margin: 5px 3px 5px 3px;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  height: 260px;
}

.motw_panel_content .editor {
  height: 260px;
}

.motw_panel .items-list .item img {
  flex-grow: 0;
  width: 30px;
  border: none;
}

.motw_panel .items-list .item .item-controls {
  flex-grow: 0;
}

.motw_panel .item {
  padding: 3px 0;
  margin: 2px 0;
  line-height: 18px;
  border-bottom: 1px solid grey;
}
.motw_panel .item .item-name {
  width: 200px;
  font-weight: bold;
  margin: 0;
}

.motw_panel .item .item-controls {
  width: 34px;
  flex: none;
}

.motw_panel .item-entry .collapsed {
  display: none;
}

.motw_tab {
  padding: 2px 2px 10px 2px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  font-family: ThirdMan;
  font-size: 16px;
}

.motw_tab:hover {
  color: #990000;
  text-shadow: none !important;
}

.motw_tab.active {
  text-shadow: none !important;
  background-size: contain;
  background: url("/systems/motw/images/line.png") no-repeat bottom;
}

.motw_moves {
  margin-top: 10px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.motw_roll {
  position: relative;
}

.motw_roll:hover {
  color: #990000;
  cursor: pointer;
}

.motw_movelist_label {
  margin: auto;
  padding-top: 2px;
}

.motw_movelist_label span:hover {
  color: #990000;
  cursor: pointer;
}

.motw_movelist_plus {
  font-size: 14px;
  margin: 2px 10px 2px 2px;
  cursor: pointer;
}

.motw_movelist_plus:hover {
  text-shadow: 0 0 10px #990000;
}

.motw_move_description {
  display: none;
}

.motw_move_entry {
  width: 370px;
  padding: 10px 15px 6px 15px;
  margin-bottom: -10px;
}

.motw_move_name {
  margin: auto;
}

.motw_move_header {
  cursor: pointer;
}

.motw_move_description {
  padding-top: 14px;
  line-height: 17px;
  height: 210px;
}

.window-content .items-list {
  padding: 0;
  overflow-y: auto;
}
