.motw_monstersheet {
    background-size: 750px 756px;
    overflow: hidden;
    min-height: 380px;
    min-width: 750px;
}

.motw_dmg {
    background-image: url("/systems/motw/images/blood.png") !important;
    text-align: center !important;
    background-position: top center;
    background-size: 24px 24px;
    width: 28px;
    height: 28px;
    font-size: 15px;
    font-weight: bolder;
}

.motw_tags {
    font-style: italic;
    border-bottom: 1px solid black !important;
}

.motw_attackname {
    border-bottom: 1px solid black !important;
}

.motw_monsterpanel {
    position: relative;
    background: url("/systems/motw/images/murdercard.png") no-repeat;
    width: 518px;
    height: 352px;
    padding: 20px;
    line-height: 28px;
}

.motw_monsterpanel tabs {
    margin: 10px 0 0 90px;
}

.motw_panelplus {
    margin: 0 5px 0 auto;
    cursor: pointer;
}

.motw_attack-plus {
    position: absolute;
    top: 50px;
    left: 28px;
    z-index: 10;
}