.motw_itemsheet {
    background-image: url("/systems/motw/images/notecard.jpg");
    font-family: WarnockRegular;
    min-height: 200px;
    min-width: 400px;
    padding: 5px 10px;
}

.motw_itemsheet input {
    text-align: center;
    font-family: Thirdman;
    font-size: 28px;
    margin: 8px 0 8px 0;
}

.motw_tags {
    color: black;
    width: calc(100% - 50px);
    height: 20px;
    margin: 20px 10px 5px 50px;
    border: none !important;
}

.motw_item-icon {
    width: 56px;
    cursor: pointer;
}

.motw_item-icon:hover {
    filter: invert(50%);
}

.motw_item-value {
    position: relative;
    width: 56px;
    height: 56px;
}

.motw_item-value>.motw_field {
    border-radius: 8px;
    color: white;
    background-color: black;
}

.motw_item-name {
    margin: 5px 66px 0 10px;
    font-size: 22px;
}

.motw_type-label {
    position: absolute;
    font-size: 12px;
    background-color: lightgrey;
    border: 1px solid black;
    top: 58px;
    width: 100%;
    text-align: center;
}