.motw_movesheet {
    background-image: url("/systems/motw/images/notecard.jpg");
    font-family: WarnockRegular;
    min-height: 200px;
    min-width: 400px;
    padding: 5px 10px;
}

.motw_movesheet input {
    text-align: center;
    font-family: Thirdman;
    font-size: 28px;
    margin: 8px 0 8px 0;
}

.motw_movesheet .motw_description {
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}
